*{
    padding: 0;
    margin: 0;
}

#inicio{
    font-family: 'Times New Roman', Times, serif;
    background-color:#d3b8e1;
    height: 350px;
    margin-bottom: -2%;
}

.menu{
    background-color: #AC83D6;
    padding: 20px;
}

.menu-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
}
.menu-links li{
    margin: 0 10px;
}

.menu-links a{
    text-decoration: none;
    color: #fff;
    background-color:#955FBE;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
}
.presentacion {
    margin: 20px 10%;
    width: 500px;
    word-wrap: break-word;
}

.presentacion p, h2, h4 {
    margin: 20px;
    width: 500px;
    flex: 1;
    
}
.img-person{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: -160px 60%;
    margin-bottom: 1.5rem;
    background-color: #A420BE;
    padding: 5px;
}
.persona{
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

#conoceme{
    background-color:#e6bce0;
    height: 350px;
    margin-bottom: -2%;
}
.cont-img{
    margin: -200px 10%;
}
.img-desk {
    max-width: 300px;
}
.suptema{
    margin: 20px 10px;
    width: auto;
    word-wrap: break-word;
}
.suptema h2{
    margin: 0 60%;
    width: 500px;
    flex: 1;
    margin-top: 20px;
}
.info-per{
    width: 500px;
    margin: 0 50%;
    font-family: 'Times New Roman', Times, serif;

}
#Trabajos{
    background-color: #bbf9f9;
    margin-bottom: -2%;
}

#contactame{
    background-color: #dee4cd;
}
footer{
    background-color: #AC83D6;
    padding: 20px;
}
.social-icons{
    list-style: none;
    margin: 0 ;
    padding: 0;
    display: flex;
    justify-content: left;
}

.social-icons i{
    margin: 0 10px;
}